h1 {
  text-align: center;
  color: firebrick;
  font-style: Italic;
}
h3 {
  text-align: center;
  color: firebrick;
  font-style: Italic;
}

.skill-header {
  text-align: left;
}

.skill-container {
  border: solid lightcoral;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  margin-bottom: 8px;
}

h5 {
  display: block;
  font-size: 1.25em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
